* {
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Squada+One|Stardos+Stencil:700&display=swap");

/* Home Page */

.home-bg {
  height: 130vh;
  background: #cccccc;
  background-image: url("./images/fence.jpg");
  background-size: contain;
  background-position-x: -24rem;
  text-align: center;
}

.home-bg h1,
.home-bg h2 {
  color: #cccccc;
  line-height: 1.3;
  padding: 30px 0;
  letter-spacing: 0.19;
  background-color: rgba(1, 1, 13, 0.5);
  border-radius: 5px;
}

.home-content {
  font-family: "Bebas Neue", cursive;
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  top: 40px;
}

.home-content h2 {
  position: relative;
  top: 30px;
}

.button {
  position: relative;
  top: 100px;
  padding: 0.3rem 0.8rem;
  letter-spacing: 1.2px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 15 px rgba(1, 1, 13, 0.3);
  background: #d4af37;
  color: white;
}
.home-content button a {
  text-decoration: none;
  color: white;
}

/* About Us */
.team-background {
  background-color: black;
}
.sub-header {
  background: #01010d;
  color: #cccccc;
  text-align: center;
  padding: 30px 0;
  letter-spacing: 0.2rem;
}
.team-container {
  background-color: #cccccc;
  padding: 1.5rem 0;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.team-view {
  justify-content: space-evenly;
  padding-top: 200px;
}
.card-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between; */
  justify-content: center;
  color: #cccccc;
  background-color: #ebeef8;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
}
.card-container .card-img {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    99% 0,
    100% 74%,
    80% 86%,
    22% 86%,
    0 75%,
    0 0
  );
}
.management-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}
.management-name {
  color: #d4af37;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}
.management-title {
  font-size: 1.3rem;
  font-weight: 300;
}
.card-container p {
  color: black;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
}

/* UnderConstruction */
.puppy {
  max-width: 100%;
}

/* Services */
.services-header-bg {
  background-image: url("./images/many-cameras.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 255, 0.1));
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-linear-gradient(rgba(0, 0, 0, 0.5));
}
.services-header-bg:nth-child(1) {
  position: relative;
  z-index: 3;
}
.services-header-bg:nth-child(2) {
  position: relative;
  z-index: 3;
}
.service-container {
  position: relative;
  top: -30px;
  z-index: 3;
}
.service-header {
  font-size: 24px;
}
.service-description {
  font-size: 18px;
}

/* Contact */
.form-container {
  width: 100%;
  padding: 0 20px;
}
.form {
  min-width: 90%;
  margin: 0 auto;
  padding: 0.6rem;
  border-radius: 5px;
  /* background: #01010d; */
  border-right: 1px solid #01010d;
  border-left: 1px solid #01010d;
  display: flex;
  flex-direction: column;
}
.form input,
textarea,
button {
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: transparent;
  color: #01010d;
  border: 0;
  border-bottom: 2px solid #d4af37;
}
.form textarea {
  margin: 0 auto;
}
.form button {
  margin: 0 auto;
  background: #d4af37;
  border-radius: 5px;
  position: relative;
  top: 3.5rem;
  color: #cccccc;
  width: 50%;
  letter-spacing: 0.1rem;
}
/* Footer */
.footer {
  background: #01010d;
  color: #cccccc;
}

.footer img {
  height: 12%;
  width: 100%;
  padding: 10px 0;
}

.footer a {
  text-decoration: none;
  color: #cccccc;
}
.footer a:hover {
  text-decoration: none;
  color: #d4af37;
  font-weight: 490;
}

.footer-nav {
  /* height: 300px; */
  margin: 0 auto;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 90%;
  padding: 60px;
}

.footer-nav section {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-copyright {
  text-align: center;
}
